<div class='list-group'>
    <table>
        <tr>
            {% for header in tablePage.headers %}
                <th class="span2">{{ header }}</th>
            {% endfor %}
        </tr>
            {% for row in tablePage.rows %}
                <tr>
                    {% for col in row %}
                        <td class="span2">{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
    <nav>
        <ul class="pagination">
            <li>
                {% if tablePage.hasPrevious %}
                    <a href="?tablePageSearch={{ tablePage.search }}&tablePageNum={{ tablePage.previousPage }}">page {{tablePage.previousPage}}</a>
                {% else %}
                    <span>None</span>
                {% endif %}
            </li>
            <li>
                <span class="current">
                    Page {{ tablePage.currentPage }} of {{ tablePage.maxPage }}
                </span>
            </li>
            <li>
            {% if tablePage.hasNext %}
                <a href="?tablePageSearch={{ tablePage.search }}&tablePageNum={{ tablePage.nextPage}}">page {{tablePage.nextPage}}</a>
            {% endif %}
            </li>
        </ul>
    </nav>
</div>
